name: Build QuietDaemon

on:
  workflow_dispatch:
        inputs:
      build_for_windows:
        description: 'Build Windows'
        required: false
        default: true
        type: boolean
      build_for_macos_arm:
        description: 'Build macOS ARM'
        required: false
        default: true
        type: boolean

jobs:
  build-windows:
    if: ${{ github.event.inputs.build_for_windows == 'true' }}
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build Windows
        run: |
          python compile.py

      - name: Zip QuietDaemon
        run: |
          cd dist
          Compress-Archive -Path QuietDaemon -DestinationPath "QuietDaemon_Windows.zip"

      - name: Upload ZIP (Windows)
        uses: actions/upload-artifact@v4
        with:
          name: QuietDaemon_Windows
          path: dist/QuietDaemon_Windows.zip
          
  build-macos-arm:
    if: ${{ github.event.inputs.build_for_macos_arm == 'true' }}
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build MacOS (ARM)
        run: |
          pyinstaller --noconfirm QuietDaemon.spec

      - name: Zip QuietDaemon.app (ARM)
        run: |
          cd dist
          zip -r -y -9 "QuietDaemon_macOS_arm.zip" QuietDaemon.app

      - name: Upload ZIP (ARM)
        uses: actions/upload-artifact@v4
        with:
          name: QuietDaemon_macOS_arm
          path: dist/QuietDaemon_macOS_arm.zip
